<!DOCTYPE html>
<html>
    <head>
        <title>FAÇA LOGIN</title>
        <SCRIPT LANGUAGE="JavaScript">
                
                function Login(){
                var done=0;
                var username=document.login.username.value;
                username=username.toLowerCase();
                var password=document.login.password.value;
                password=password.toLowerCase();
                if (username=="admin" && password=="1") { window.location="index"; done=1; }
                if (done==0) { alert("Senha ou Usuario invalido."); }
                }
               
                </SCRIPT>
    </head>

    <body>

            <div align="center">
                    <form name=login>
                    <table width=225 border=1 cellpadding=3 height="123">
                    <tr><td colspan=2 height="13"><center>
                      <p><font face="Arial Black">Área restrita:</font></p>
                      </center></td></tr>
                    <tr><td height="22">
                      <p align="center"><font face="Verdana" style="font-size: 8pt; font-weight:700">
                      <br>
                      <font face="Verdana" style="font-size: 8pt; font-weight:700">
                      <br>
                      Usuario:</font></td>
                      <td height="22" align="center">
                      <input type=text name=username size="20"></td></tr>
                    <tr><td height="22">
                        <p align="center"><font face="Verdana" style="font-size: 8pt; font-weight:700">
                    <br>
                         <font face="Verdana" style="font-size: 8pt; font-weight:700">
                        <br>
                      Senha</b>:</font></td><td height="22">
                      <input type=text name=password size="20"></td></tr>
                    <tr><td colspan=2 align=center height="26"><input type=button value="Entrar" onClick="Login()"></td></tr>
                    </table>
                    </form>
                  </div>
                    
                    <p>
                    
                    <p align="center" style="margin-top: 0; margin-bottom: 0"> </p>

    </body>
</html>